.btn {
    background-color: #01b159 !important;
    border-color: #01b159 !important;
}

.btn:hover {
    background-color: #07aadb !important;
    border-color: #07aadb !important;
    color: hsla(0,0%,100%,.8);
    transform: scale(1.01);
    transition: .3s ease;
}

.carousel-control-prev {
    position: relative !important;
    float: left;
    
}

.carousel-control-next {
    position: relative !important;
    float:right;
}


.card-title {
    margin-top: 30px;
    font-weight: 400;
    color: hsla(0,0%,100%,.8);
}

.card-content {
    margin-top: 5px;
    margin-bottom: 20px;
    font-weight: 300;
    color: #9a9a9a;
}

.carousel {
    min-height: 500px;
}

.col-md-4 {
    position: relative;
    width: 100%;
    padding-right: 35px !important;
    padding-left: 35px !important;
    transition: transform .5s;
}

.col-md-4:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.col-md-5 {
    flex: 0 0 40% !important;
    max-width: 40% !important;
}

.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.presentation-page .page-header {
    height: 100vh;
}

.page-header {
    min-height: 100vh;
    max-height: 999px;
    padding: 0;
    color:#fff;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.path3 {
    position: absolute;
    opacity: .02;
    width: 1024px;
    height: 832px;
    right: 0;
    top: 75px;
}

.path4 {
    position: absolute;
    opacity: .02;
    width: 768px;
    height: 685px;
    right: 0;
    top: 75px;

}

.section {
    padding: 70px 70px 50px;
    position: relative;
}

.description {
    color: #9a9a9a;
    font-weight: 300;
}

.descrBlock {
    text-align: left;
    color: #9a9a9a;
    font-weight: 300;
}

.h1 {
    line-height: 1.05;
    margin-bottom: 30px;
    font-size: 5em;
}

.h4 {
    line-height: 1.4em;
    
}

.icon {
    width: 40px;
    height: 40px;
    float: left;
    margin-left: -15px;
    position: absolute;
    margin: 15px 0 0 -40px;
}

.img {
    position: relative;
    z-index: 2;
    border: 1px solid #9a9a9a;
    border-radius: .2857rem;
    margin-top: 20px;
    max-width:100%;
}

.info-horizontal {
    max-width: 500px !important;
    text-align: left !important;
}

.info-horizontal .description {
    overflow: hidden;
    text-align: justify;
}

.info {
    margin: 0 auto;
    padding: 70px 10px 30px;
    border-radius : 3px;
}

.info p {
    color: #9a9a9a;
    padding: 0 15px;
    font-size: 1.1em;
}

.info-title {
    margin: 25px 0 15px;
    padding: 0 15px;
    color: hsla(0,0%,100%,.8);
    font-weight: 400;
}

.ml-auto {
    margin-left: auto !important;
}

.slider-image{
    max-width: 480px;
    max-height: 320px;
    margin-left:60px;
}

.slider-info {
    text-align: right;
    padding-right: 30px;
    font-size: .9rem;
    color: hsla(0,0%,100%,.8);
}

.slider-descr {
    padding:30px;
    margin-bottom: 30px;
    text-align: left;
    color: #9a9a9a;
    font-weight:300;
}

.slider-title {
    margin-top: 50px;
    margin-bottom: 25px;
    font-weight: 600;
    color: hsla(0,0%,100%,.8);
    text-align: left;
}

.title {
    margin-top: 30px;
    margin-bottom: 25px;
    font-weight: 600;
    color: hsla(0,0%,100%,.8);
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}